@mixin border($lt, $tp, $rt, $bt, $colour){
  border-style:solid;
  border-left-width: $lt + px;
  border-top-width: $tp + px;
  border-right-width: $rt + px;
  border-bottom-width: $bt + px;
  border-color: $colour;
}

@mixin box-shadow($offset-x, $offset-y, $blur, $spread, $colour){
  -webkit-box-shadow: $offset-x + px $offset-y + px $blur + px $spread + px $colour;
  -moz-box-shadow: $offset-x + px $offset-y + px $blur + px $spread + px $colour;
  box-shadow: $offset-x + px $offset-y + px $blur + px $spread + px $colour;
}

@mixin border-radius($tl, $tr, $br, $bl){
  -webkit-border-top-left-radius: $tl + px;
  -webkit-border-top-right-radius: $tr + px;
  -webkit-border-bottom-right-radius: $br + px;
  -webkit-border-bottom-left-radius: $bl + px;
  -moz-border-radius-topleft: $tl + px;
  -moz-border-radius-topright: $tr + px;
  -moz-border-radius-bottomright: $br + px;
  -moz-border-radius-bottomleft: $bl + px;
  border-top-left-radius: $tl + px;
  border-top-right-radius: $tr + px;
  border-bottom-right-radius: $br + px;
  border-bottom-left-radius: $bl +px;
}