@mixin border($lt, $tp, $rt, $bt, $colour){
  border-style:solid;
  border-left-width: $lt + px;
  border-top-width: $tp + px;
  border-right-width: $rt + px;
  border-bottom-width: $bt + px;
  border-color: $colour;
}

@mixin box-shadow($offset-x, $offset-y, $blur, $spread, $colour){
  -webkit-box-shadow: $offset-x + px $offset-y + px $blur + px $spread + px $colour;
  -moz-box-shadow: $offset-x + px $offset-y + px $blur + px $spread + px $colour;
  box-shadow: $offset-x + px $offset-y + px $blur + px $spread + px $colour;
}

@mixin remove-shadow(){
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

@mixin border-radius($tl, $tr, $br, $bl){
  -webkit-border-top-left-radius: $tl + px;
  -webkit-border-top-right-radius: $tr + px;
  -webkit-border-bottom-right-radius: $br + px;
  -webkit-border-bottom-left-radius: $bl + px;
  -moz-border-radius-topleft: $tl + px;
  -moz-border-radius-topright: $tr + px;
  -moz-border-radius-bottomright: $br + px;
  -moz-border-radius-bottomleft: $bl + px;
  border-top-left-radius: $tl + px;
  border-top-right-radius: $tr + px;
  border-bottom-right-radius: $br + px;
  border-bottom-left-radius: $bl +px;
}

@keyframes border_pulse {
  0% { border-width: 1px; }
  10% { border-width: 2px; }
  20% { border-width: 3px; }
  30% { border-width: 4px; }
  40% { border-width: 5px; }
  50% { border-width: 5px; }
  60% { border-width: 4px; }
  70% { border-width: 3px; }
  80% { border-width: 2px; }
  90% { border-width: 1px; }
  100% { border-width: 0px; }
}

@mixin border-pulse(){
  $name: border_pulse;
  $duration: 500ms;
  $timingFunc: linear;
  
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timingFunc;
  
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $timingFunc;
  
  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $timingFunc;
}