$rgba-primary-0: rgba( 35,103,101,1);
$rgba-primary-1: rgba(144,192,190,1);
$rgba-primary-1a: rgba(144,192,190,0.1);
$rgba-primary-2: rgba( 76,139,137,1);
$rgba-primary-2a: rgba( 76,139,137,0.1);
$rgba-primary-3: rgba( 10, 69, 66,1);
$rgba-primary-4: rgba(  0, 33, 32,1);

$rgba-secondary-1-0: rgba(170,132, 58,1);
$rgba-secondary-1-1: rgba(255,233,190,1);
$rgba-secondary-1-2: rgba(229,194,125,1);
$rgba-secondary-1-3: rgba(113, 80, 16,1);
$rgba-secondary-1-4: rgba( 55, 36,  0,1);

$rgba-secondary-2-0: rgba(168, 57, 60,1);
$rgba-secondary-2-1: rgba(254,189,191,1);
$rgba-secondary-2-2: rgba(227,124,127,1);
$rgba-secondary-2-3: rgba(112, 16, 18,1);
$rgba-secondary-2-4: rgba( 54,  0,  1,1);