@import "colours";
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

$font-stack: Arimo, sans-serif;
$font-s: 0.8em;
$font-m: 1em;
$font-l: 1.5em;
$font-xl: 2em;
$font-dark: $complement-4;