@import 'colours.scss';
$header-height: 150px;

@media (max-width: 736px){
    div#header-image{
        width: 75px !important;
        height: 75px !important;
    }
}

.spacer{
    height: 35px;
}

div#header{
    div.columns{
        &:nth-child(2){
            h1{
                line-height: 50px;
                padding-bottom: 0;
                padding-top: 15px;
            }
        }
        &:nth-child(3){
            i{
                line-height: 50px;
                padding-bottom: 0;
                padding-top: 15px;
                color: $rgba-primary-0;
            }
        }
    }
}

div#header-image{
    border-radius: 50%;
    overflow: hidden;
    width: $header-height;
    height: $header-height;
    border-width: 5px;
    border-style: solid;
    border-color: $rgba-primary-0;
    
    img{
        display: block;
        min-width: 100%;
        min-height: 100%;
    }
}