@import 'colours.scss';
@import 'fonts.scss';
@import 'transitions.scss';
@import 'borders.scss';
body{
    background-color: $rgba-primary-1a;
}

div{
    h1{
        color: $rgba-primary-0;
        font-family: $font-stack;
        font-weight: 700;
    }
    h2{
        color: $rgba-primary-0;
        font-family: $font-stack;   
    }
    p{
        color: $rgba-primary-0;
        font-family: $font-stack;
        text-align: justify;
    }
}

.spacer{
    height: 35px;
}

div#header{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    div.columns{
        &:nth-child(2){
            h1{
                line-height: 50px;
                padding-bottom: 0;
                padding-top: 15px;
            }
        }
        &:nth-child(3){
            i{
                line-height: 50px;
                padding-bottom: 0;
                padding-top: 15px;
                color: $rgba-primary-0;
            }
        }
    }
}

div#app{
    background-color: $rgba-primary-2a;
}

@media (max-width: 736px){
    div#header-image{
        width: 75px !important;
        height: 75px !important;
    }
}

div#header-image{
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-width: 5px;
    border-style: solid;
    border-color: $rgba-primary-0;
    
    img{
        display: block;
        min-width: 100%;
        min-height: 100%;
    }
}

ul.menu{
    background-color: $rgba-primary-0;
    @include border-radius(2,2,2,2);
    @include box-shadow(0, 10, 10, -10, $rgba-primary-0);
    li{
        @include transition(background-color);
        &:hover{
            background-color: $rgba-primary-1;
            @include transition(background-color);
            &:first-child{
                @include border-radius(2,0,0,2);
            }
            a{
                color: $rgba-primary-0;
                @include transition(color);
            }
        }
        a{
            @include transition(color);
            color: $rgba-primary-1;
            font-family: $font-stack;
            font-size: 1.5em;
        }
    }
}

div#off-canvas{
    background-color: $rgba-primary-1a;
    @include box-shadow(0, 10, 10, -10, $rgba-primary-0);
}

ul#small-navigation{
    width: 100%;
    list-style: none;
    margin-left: 0;
    li{
        display: block;
        a{
            padding-left:15px;
            display: block;
            width: 100%;
            font-size: 1.5em;
            font-weight: 700;
            font-family: $font-stack;
            @include transition(all);
            &:active{
                @include transition(all);
                background-color: $rgba-primary-0;
                color: $rgba-primary-1;
                outline: none;
            }
            &:focus{
                outline: none;
            }
        }
    }
}

footer{
    padding-top: 1.5em;
    background-color: $rgba-primary-2a;
    p{
        font-size:0.8em;
    }
}

section#content{
    padding-top:5px;
    background-color: $rgba-primary-1a;
    @include border(0, 5, 0, 0, $rgba-primary-0);
    @include border-primary-pulse();
}

form#contact-form{
    @include transition(all);
}

div.contact-status{
    @include transition(all);
    display: none;
    opacity: 0;
    i{
        color: $rgba-primary-0;
    }
    p{
        text-align: center;
    }
}

div.hidden{
    @include transition(all);
    opacity: 0;
}

div.visible{
    @include transition(all);
    opacity: 1;
}