@import 'colours.scss';

@mixin transition($prop, $time:"300ms"){
    transition: $prop unquote($time) ease;
    -webkit-transition: $prop unquote($time) ease;
    -moz-transition: $prop unquote($time) ease
}

@mixin prop-colour($prop, $colour){
    #{$prop}: $colour;
}

@mixin border-primary-pulse(){
    
    @-webkit-keyframes primary-pulse {
        0%   { border-top-color: $rgba-primary-0 }
        25%  { border-top-color: $rgba-primary-2; }
        50%  { border-top-color: $rgba-primary-3; }
        75%  { border-top-color: $rgba-primary-4; }
        100% { border-top-color: $rgba-primary-1; }
    }
    @keyframes primary-pulse {
        0%   { border-top-color: $rgba-primary-0 }
        25%  { border-top-color: $rgba-primary-2; }
        50%  { border-top-color: $rgba-primary-3; }
        75%  { border-top-color: $rgba-primary-4; }
        100% { border-top-color: $rgba-primary-1; }
    }
    
    -webkit-animation: primary-pulse 30s infinite alternate;
    animation: primary-pulse 30s infinite alternate;
}