//Example: http://paletton.com/#uid=53b0u0k7Fr8cnQG7mHT6ikE3-ew
//Primary
$rgba-primary-0: rgba(106,139,132,1);
$rgba-primary-1: rgba(139,226,206,1);
$rgba-primary-2: rgba(155,201,191,1);
$rgba-primary-3: rgba( 85,106,101,1);
$rgba-primary-4: rgba( 66, 75, 73,1);

//Secondary
$rgba-secondary-1-0: rgba(111,124,142,1);
$rgba-secondary-1-1: rgba(147,181,227,1);
$rgba-secondary-1-2: rgba(160,178,203,1);
$rgba-secondary-1-3: rgba( 89, 97,108,1);
$rgba-secondary-1-4: rgba( 68, 72, 76,1);

//Tertiary
$rgba-secondary-2-0: rgba(152,185,140,1);
$rgba-secondary-2-1: rgba(175,243,149,1);
$rgba-secondary-2-2: rgba(194,233,179,1);
$rgba-secondary-2-3: rgba(120,140,113,1);
$rgba-secondary-2-4: rgba( 91, 99, 88,1);