<div class="small-12 medium-12 large-12 columns end">
    <h3>Hi!</h3>
</div>
<div class="small-8 medium-8 large-8 columns">
    <p>Thanks for stopping by.</p>
    <p>I'm a software developer based in Norwich. Tech-stack wise I'm mostly interested in ASP.net and Node.js. I'm
        more of a server-side guy but I like to offend designers by getting my hands dirty with web dev
        occasionally.</p>
</div>
<div id="t1" class="large-4 show-on-large-only columns">

</div>
<div class="small-12 medium-12 large-12 columns end">
    <h3>Recent Posts</h3>
</div>
<div id="posts" class="small-8 medium-8 large-8 columns">

</div>
<div id="t2" class="large-4 show-on-large-only columns">

</div>