<div class="small-12 medium-12 large-12 columns end">
    <h3>Say Hello</h3>
    <div class="row">
        <div class="small-8 medium-8 large-8 columns end">
            <p>Feel like getting in touch?</p>
        </div>
    </div>
    <div class="row">
        <div class="small-8 medium-8 large-8 columns end">
            <p>Drop an email to <span class="strong">hello@benseager.co.uk</span></p>
        </div>
    </div>
    <div class="row">
        <div class="small-8 medium-8 large-8 columns end">
            <p>Follow me on <a href="https://twitter.com/digsb" target="_blank">Twitter</a> or <a href="https://plus.google.com/u/0/+BenSeager_V1" target="_blank">Google Plus</a></p>
        </div>
    </div>
    <div class="row">
        <div class="small-8 medium-8 large-8 columns end">
            <p>Or if you fancy chat, then come and say hi at a Norwich City match. I'm a season ticket holder
                in the Lower Barclay and try to get to as many away games as I can.</p>
        </div>
    </div>
</div>