<div class="row">
    <div class="small-12 columns">
        <h2>build</h2>
    </div>
</div>
<div class="row">
    <div class="small-8 medium-9 small-offset-3 columns">
        <p>Have a project and need a developer?</p>
        <p>I'm always interested to hear about interesting projects.</p>
        <p>As a full-stack developer I'm happy working on small, static sites or larger, more complex projects.</p>
        <p>Feel free to get in touch (details are on the<a href="#contact"> contact page </a>).  If you're just after a bit of advice, or if you'd like to bring me in to work on something I'd love to hear from you.</p>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <h2>3rd sector</h2>
    </div>
</div>
<div class="row">
    <div class="small-8 medium-9 small-offset-3 columns">
        <p>I'm really happy to offer my time to charities and voluntary organisations.</p>
        <p>If you need a developer, then feel free to drop me a line.</p>
    </div>
</div>