<div class="row">
    <div class="small-8 columns end">
        <h4>cookies</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-8 columns">
        <p>Like the rest of the Internet, this site uses cookies. If you continue without changing your settings I assume you're happy with this.</p>
    </div>
    <div class="small-12 medium-2 medium-offset-2 columns"><input type="button" id="cookie-accept" value="Ok"></input></div>
</div>