<div class="row">
    <div class="small-12 columns">
        <h2>hello</h2>
    </div>
</div>
<div class="row">
    <div class="small-8 medium-9 small-offset-3 columns end">
        <p>Thanks for stopping by</p>
        <p>I'm Ben Seager, a full stack software developer based in Norwich.</p>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <h2>interests</h2>
    </div>
</div>
<div class="row">
    <div class="small-8 medium-9 small-offset-3 columns end">
        <p>I'm primarily (professionally, at least) a .Net developer with plenty of experience working right the way through the Microsoft stack.</p>
        <p>I can also be found using Node and client-side frameworks such as Backbone (I've kinda fallen in love with Vue.js now as well).</p>
        <p>Most of my interest lies with the web - either on the client or further down the stack.  I've recently developed a bit of an obsession with microservices.</p>
        <p>Less work related interests include a PS4 and an unhealthy relationship with Norwich City FC.</p>
    </div>
</div>
