<!-- Header Start -->
<div class="row">
    <div class="columns spacer"></div>
</div>
<div class="row" id="header">
    <div class="small-3 large-3 columns">
        <div id="header-image"><img src="dist/images/somecode.png" alt="header image"></div>
    </div>
    <div class="small-7 large-9 columns">
        <h1>Ben Seager</h1>
        <!-- Large Menu -->
        <div class="row show-for-medium" id="large-menu">
            <div class="small-12 columns">
                <ul class="menu" id="navigation">
                    {{#menuItems}}
                    <li><a id="nav_{{this.name}}" href="#{{this.route}}">{{this.name}}</a></li>
                    {{/menuItems}}
                    <li><a href="https://twitter.com/digsb" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/bense4ger/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://uk.linkedin.com/in/bdseager" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End of Large Menu -->
    </div>
    <div class="small-2 hide-for-medium columns">
        <!-- Small Menu -->
        <div class="row hide-for-medium" id="small-menu">
            <button type="button" data-toggle="offCanvas">Click Me</button>
        </div>
        <!-- End of Small Menu -->
    </div>
</div>
<!-- Header End -->
<section id="content"></section>
