<div class="row">
    <div class="columns spacer"></div>
</div>
<div class="row" id="header">
    <div class="small-2 columns">
        <div id="header-image"><img src="dist/images/somecode.png" alt="header image"></div>
    </div>
    <div class="small-10 columns">
        <h1>Ben Seager</h1>
    </div>
</div>
<div class="row show-for-medium" id="menu">
    <div class="columns">
        <ul class="menu"></ul>
    </div>
</div>
<section id="content"></section>