<ul id="small-navigation">
    {{#menuItems}}
    <li><a id="nav_{{this.name}}" class="small-menu-link" href="#{{this.route}}">{{this.name}}</a></li>
    {{/menuItems}}
</ul>
<div class="spacer"></div>
<ul class="menu">
    <li><a href="https://twitter.com/digsb" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/bense4ger/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="https://uk.linkedin.com/in/bdseager" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
</ul>